body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7ebeb;
}

.background-logo {
  background-color: #131922;
}

#topbar-logo {
  width: 100px;
  height: 35px;
  padding: 6px 10px;
  margin-left: 10px;
}

.topbar ul {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.topbar li {
  list-style: none;
  color: white;
  padding-right: 25px;
  font-weight: 400;
  font-size: 11px;
}

main {
  margin: 20px;
}

.first-section {
  background-color: #f1511d;
  color: white;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 20px;
}

.first-section p {
  padding: 4px 0;
}

.second-section {
  background-image: url("images/bg-image.png");
  background-position: center;
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-top: 20px;
}

.second-section h1 {
  font-size: 20px;
  line-height: 1.5;
}

.second-section h3 {
  font-size: 12px;
}

.third-section {
  background-color: white;
  margin-top: 25px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
  display: flex;
  padding: 0 12px;
  align-items: center;
  line-height: 1;
  margin: 0 40px;
  font-size: 15px;
}

section a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 750;
  color: #277c8a;
  padding-left: 10px;
}

.square-images {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 12px;
}

.third-section-img {
  width: 300px;
  margin-top: 0;
  border-radius: 15px;
}

footer {
  text-align: center;
}

.bottom-bar {
  background-color: #31414f;
  padding: 8px 0;
}

#bottom-bar-link {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#bottom-bar-logo {
  padding: 60px;
  width: 150px;
  height: 50px;
}
