body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.background-logo {
  background-color: #131922;
}

#topbar-logo {
  width: 110px;
  height: 40px;
  padding: 6px 10px;
  margin-left: 10px;
}

.topbar ul {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.topbar li {
  list-style: none;
  color: white;
  padding-right: 25px;
  font-weight: 400;
  font-size: 13px;
}

main {
  margin: 20px;
}

#lista-prova {
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
}

.bottom-bar {
  background-color: #31414f;
  padding: 8px 0;
}

#bottom-bar-link {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#bottom-bar-logo {
  padding: 60px;
  width: 150px;
  height: 50px;
}
